<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>The Whole Palindrome Checker</title>
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <main class="container">
        
        <div class="row">
            <div class="col-sm-6">
                {{{body}}}
            </div>
        </div>
    </main>
<script  src="/public/script.js"></script>

    
</body>

</html>