<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>The Whole Palindrome Checker</title>
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <main class="container">
        
        <div class="row">
            <div class="col-sm-6">
                {{{body}}}
            </div>
        </div>
    </main>
<script  src="/public/script.js"></script>

    {{!-- <script src="/public/js/form.js"></script> --}}
    {{!-- <script>
        function initMap()
        {
              console.log("NINIT");
  var options ={
    zoom: 8,
    center: {
      lat: 48.869384,
      lng: 2.3071868
    }
  }
 var map = new google.maps.Map(document.getElementById('map'),options);
        }
      
    </script> --}}
    
</body>

</html>