<!DOCTYPE html>
<html>

<head>
    <title>List</title>      
</head>

<body>
    <h1>LIST OF RESTAURANTS</h1>
    <div class="restolist">
        <p>this is the state :   {{{rest.state}}}</p>
    </div>
</body>
</html>