
<div class="header">

   
        
            <a href="/restaurantfilter" class="logo"><img alt="logo" src="/public/pics/logo1.png" class="logo1"></a>
            
   <div class="dropdown">
  <button class="dropbtn">{{{userauth.profile.firstname}}}</button>
  <div class="dropdown-content">
    <a href="/changepassword">Change Password</a>
    <a href="/logout">Logout</a>
  </div>

    </div>
   
    <div class="header-right">
    <a class="home" href="/restaurantfilter"><img alt="logo" src="/public/pics/home.png" class="home1"></a>
   


 </div>


</div>

<main class = "mainclass">
    <h1>Change Password</h1>
  
    <form method="post" id="login-form" action="/changepassword">
        <label class = "enter" for = "password">Enter old password:</label>
        <input id = "password" type="password" class= "inputbox" placeholder="Enter Password" name="oldpassword" required><br>
        <label class = "enter" for = "password">Enter new password:</label>
        <input id = "password" type="password" class= "inputbox" placeholder="Enter Password" name="newpassword" required><br>
        <button id="subButton" class="subButton" type="submit">Submit</button>
    </form>
    <p>{{{message}}}</p>

    

    <p class="error">{{{err}}}</p>

</main>