<main class = "mainclass">
    <h1>Change Password</h1>
  
    <form method="post" id="login-form" action="/changepassword">
        <label class = "enter" for = "password">Enter old password:</label>
        <input id = "password" type="password" class= "inputbox" placeholder="Enter Password" name="oldpassword" required><br>
        <label class = "enter" for = "password">Enter new password:</label>
        <input id = "password" type="password" class= "inputbox" placeholder="Enter Password" name="newpassword" required><br>
        <button id="subButton" class="subButton" type="submit">Submit</button>
    </form>
    <p>{{{message}}}</p>

    

    <p class="error">{{{err}}}</p>

</main>