
<div class="header">

   
        
            <a href="/restaurantfilter" class="logo"><img alt="logo" src="/public/pics/logo1.png" class="logo1"></a>

        
   <div class="dropdown">
  <button class="dropbtn">{{{userauth.profile.firstname}}}</button>
  <div class="dropdown-content">
    <a href="/changepassword">Change Password</a>
    <a href="/logout">Logout</a>
  </div>

    </div>
   
    <a class="home" href="/restaurantfilter"><img alt="logo" src="/public/pics/home.png" class="home1"></a>

    <div class="hc">
<h1>Treat Yo' Self</h1>
</div>


</div>

  
    <form method="post" id="login-form" action="/changepassword" class="changepass">
        <label class = "enter" for = "password1">Enter old password:</label>
        <input id = "password1" type="password" class= "inputboxsu" placeholder="Enter Password" name="oldpassword" required><br>
        <label class = "enter" for = "password2">Enter new password:</label>
        <input id = "password2" type="password" class= "inputboxsu" placeholder="Enter Password" name="newpassword" required><br>
        <button id="subButton" class="subButtonsu" type="submit">Submit</button>
         <p class="messagesu">{{{message}}}</p>
    </form>
   

    

   
