 <div id= "container">
            <form method="post" action="/restaurantlist">
            <h1>Find the best restaurants, bars and cafes in US</h1>
            <hr>
            <h4>State : </h4>
            <select id = "state" name = "state" onchange="selectCity('state','city')">
                <option value=""></option>
                <option value="New York">New York</option>
                <option value="New Jersey">NEW JERSEY</option>
                <option value="Massachusetts">MASSACHUSETTS</option>
                <option value="Florida">FLORIDA</option>
                <option value="5th state">5th state</option>
            </select>

            <hr>
            <h4>City : </h4>
            <select id= "city" name="city">
                <option value=""></option>
            </select>
            <hr>
            <h4>Cuisine : </h4>
            <select id = "cuisine" name = "cuisine" >
                <option value=""></option>
                <option value="Indian">Indian</option>
                <option value="American">American</option>
                <option value="Italian">Italian</option>
                <option value="Mexican">Mexican</option>
                <option value="Chinese">Chinese</option>
            </select>

            <hr>

            <button id="goButton" > GO! </button>
        </form>
        </div>

<a href="/userprofile">User Profile</a>