<html> 
<head>
    <title>Lab10</title>
</head>
<body>
<main class = "mainclass">
    <h1>Signup Page</h1>
  
    <form method="post" id="login-form" action="/login">
        <label class = "enter" for= "fname">First Name:</label>
        <input id="fname" class="inputbox" type="text" name="fname" placeholder="Enter input here" required><br>
        <label class = "enter" for= "lname">Last Name:</label>
        <input id="lname" class="inputbox" type="text" name="lname" placeholder="Enter input here" required><br>
        <label class = "enter" for= "username">Username:</label>
        <input id="username" class="inputbox" type="text" name="username" placeholder="Enter input here" required><br>
        <label class = "enter" for= "email">Email:</label>
        <input id="email" class="inputbox" type="text" name="email" placeholder="Enter input here" required><br>

        <label class = "enter" for = "password">Password:</label>
        <input id = "password" type="password" class= "inputbox" placeholder="Enter Password" name="password" required><br>
        <button id="subButton" class="subButton" type="submit">Submit</button>
    </form>

    <div class="form-group hidden" id="error-container">
        <div class="alert alert-danger text-goes-here"></div>
        
    </div>

    <div class="form-group hidden" id="result-container">
        <div class="alert alert-success text-goes-here"></div>
    </div>

    <p class="error">{{{err}}}</p>

</main>
<p>{{{message}}}</p>
</body>
</html>